primary = #00F3A5
complementary = hue_add(primary, 180deg)
triadic_1 = hue_add(primary, 120deg)
triadic_2 = hue_add(primary, 240deg)

slide_width = 640px
slide_height = 480px
slide_background = transparent

slide_transition_length = 0.6s
slide_transition_easing = ease
slide_transition_rotate_y = 20deg
slide_transition_nudge_x = -640px

bullet_transition_length = 0.3s
bullet_transition_easing = ease
