doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Git: Ready for Hackathon

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Git: Ready for Hackathon
        h3
          a(href='https://twitter.com/michgarbacz') @michgarbacz
        img.avatar(src='https://secure.gravatar.com/avatar/c1a1cb91d6709234ff0fed46b166e446?size=70px')

      section(data-bespoke-hash='workshop-setup')
        h2 Workshop Setup
          ul
            li <span class="triadic-2-text">Git:</span> Mac &amp; Linux have it, Windows should get <a href="https://msysgit.github.io/">msysGit</a>
            li <span class="triadic-2-text">Text Editor:</span> Use your favorite or get <a href="http://notepad-plus-plus.org/">Notepad++</a>
            li <span class="triadic-2-text">Repository:</span> Sign up for <a href="https://github.com/">Github</a>




      section(data-bespoke-hash='git-init')
        h2 Git init
        pre
          code.language-bash.
            git init

      section(data-bespoke-hash='git-add')
        h2 Git add
        pre
          code.language-bash.
            git add

      section(data-bespoke-hash='git-commit')
        h2 Git commit
        pre
          code.language-bash.
            git commit -m 'Git is the best'

      section(data-bespoke-hash='index')

      section(data-bespoke-hash='glossary')

      section(data-bespoke-hash='resources')
        h2 Git Resources
        ul
          li Official Git site http://git-scm.com/
          li Try Git http://try.github.com/
          li Github help https://help.github.com/

      section(data-bespoke-hash='short-url')
        h2 Short link to this preso: <a href="http://bit.ly/redbirdhacksgit">http://bit.ly/redbirdhacksgit</a>

    script(src='build/build.js')
