doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Git: Ready for Hackathon

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Git: Ready for Hackathon
        h3
          a(href='https://twitter.com/michgarbacz') @michgarbacz
        img.avatar(src='https://secure.gravatar.com/avatar/c1a1cb91d6709234ff0fed46b166e446?size=70px')

      section(data-bespoke-hash='git-init')
        h2 Git init
        pre
          code.language-bash.
            git init

      section(data-bespoke-hash='git-add')
        h2 Git add
        pre
          code.language-bash.
            git add

      section(data-bespoke-hash='git-commit')
        h2 Git commit
        pre
          code.language-bash.
            git commit -m 'Git is the best'

    script(src='build/build.js')
